
  
body{
    background-color: rgb(240, 233, 233);
    
}

#otpSection{
    background-color:darkorange;
    height: 300px;
    width: 500px;
    margin: 125px auto  50px auto;
    
    box-shadow: 5px 5px 5px  rgb(81, 68, 68);
}
input[type="text"],
input[type="password"],
input[type="submit"] {
    display: block;
    width: 400px;
    margin: 25px 20px 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color:cornflowerblue;
    color:wheat;
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    margin:20px 20px 5px;
}

button:hover {
    background-color:black;
    color: white;
    border: none;
    cursor: pointer;
}

h1 {
    transform: translate(20px,10px);
    color: rgb(49, 34, 34);
} 
