body{
    background-color: rgb(226, 218, 218);
    
}
        div{
            background-color: #d5e289fa;
            width: 500px;
            height: 600px;
            box-shadow: 5px 5px 5px 5px rgb(71, 68, 68);
        }
        button{
            background-color:darkorange;
            height: 50px;
            width: 120px;
            padding: 5px;
            border: none;
            margin: 20px;
            box-shadow: 2px 2px 2px black;
        }
        button:hover{
            background-color: black;
            color: aliceblue;
        }

   